<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.Xcode3.ProjectTemplateUnitKind</string>
	<key>Identifier</key>
	<string>com.comviva.mfs.MXVM.productapp</string>
	<key>Ancestors</key>
	<array>
		<string>com.comviva.mfs.unit.cocoaTouchApplicationBase</string>
		<string>com.apple.dt.unit.languageChoice</string>
	</array>
	<key>Concrete</key>
	<true/>
	<key>Description</key>
	<string>This template provides a starting point for an application that uses a &quot;MXVM&quot; Architecture.</string>
	<key>SortOrder</key>
	<integer>1</integer>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>languageChoice</string>
			<key>Units</key>
			<dict>
				<key>Swift</key>
				<dict>
					<key>Nodes</key>
					<array>
						<string>AppDelegate/AppDelegate.swift</string>
						<string>Configuration/Constants.swift</string>
						<string>Configuration/EndpointURL.swift</string>
						<string>Configuration/EndpointsConfig.plist</string>
						<string>Configuration/Fonts/ar_bold.ttf</string>
						<string>Configuration/Fonts/en_bold.ttf</string>
						<string>Configuration/Fonts/ar_regular.ttf</string>
						<string>Configuration/Fonts/en_regular.ttf</string>
						<string>Configuration/GoogleServicePlist/GoogleService-Info.plist</string>
						<string>Configuration/GoogleServicePlist/GoogleService-Info-DEV.plist</string>
						<string>Configuration/GoogleServicePlist/GoogleService-Info-UAT.plist</string>
						<string>Configuration/GoogleServicePlist/GoogleService-Info-PVG.plist</string>
						<string>Router/Router.swift</string>
						<string>TestPlan/LocalizationPlan.xctestplan</string>
						<string>TestPlan/LocalizationPlan_Unit.xctestplan</string>
						<string>TestPlan/LocalizationPlan_UI.xctestplan</string>
						<string>../Podfile</string>
						<string>../.gitignore</string>
						<string>../.gitlab-ci.yml</string>
						<string>../ExportOptions.plist</string>
						<string>../sonar_validation.sh</string>
						<string>../sonar-project.properties</string>
						<string>../xccov-to-sonarqube-generic.sh</string>
						<string>../.swiftlint.yml</string>
						<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/DEV.xcscheme</string>
						<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/PROD.xcscheme</string>
						<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/UAT.xcscheme</string>
						<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/PVG.xcscheme</string>
						<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/MOCK.xcscheme</string>
						<string>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Sonar.xcscheme</string>
					</array>
				</dict>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasUnitTests</string>
			<key>Name</key>
			<string>Include Unit Tests</string>
			<key>SortOrder</key>
			<integer>100</integer>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.comviva.mfs.cocoaTouchUnitTestBundle</string>
								<key>Name</key>
								<string>___PACKAGENAME___Tests</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>false</key>
				<array/>
			</dict>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>hasUITests</string>
			<key>Name</key>
			<string>Include UI Tests</string>
			<key>SortOrder</key>
			<integer>101</integer>
			<key>Type</key>
			<string>static</string>
			<key>Default</key>
			<string>true</string>
			<key>Units</key>
			<dict>
				<key>true</key>
				<array>
					<dict>
						<key>Components</key>
						<array>
							<dict>
								<key>Identifier</key>
								<string>com.comviva.mfs.cocoaTouchUITestingBundle</string>
								<key>Name</key>
								<string>___PACKAGENAME___UITests</string>
							</dict>
						</array>
					</dict>
				</array>
				<key>false</key>
				<array/>
			</dict>
		</dict>
	</array>
	<key>Nodes</key>
	<array>
		<string>Info.plist:UIAppFonts:EnReg</string>
		<string>Info.plist:UIAppFonts:EnBold</string>
		<string>Info.plist:UIAppFonts:ArRegular</string>
		<string>Info.plist:UIAppFonts:ArBold</string>
	</array>
	<key>Definitions</key>
	<dict>
		<key>AppDelegate/AppDelegate.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>AppDelegate</string>
			</array>
			<key>Path</key>
			<string>AppDelegate/AppDelegate.swift</string>
		</dict>
		<key>Configuration/Constants.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
			</array>
			<key>Path</key>
			<string>Configuration/Constants.swift</string>
		</dict>
		<key>Configuration/EndpointURL.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
			</array>
			<key>Path</key>
			<string>Configuration/EndpointURL.swift</string>
		</dict>
		<key>Configuration/EndpointsConfig.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
			</array>
			<key>Path</key>
			<string>Configuration/EndpointsConfig.plist</string>
		</dict>
		<key>Configuration/Fonts/ar_bold.ttf</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
				<string>Fonts</string>
			</array>
			<key>Path</key>
			<string>Configuration/Fonts/ar_bold.ttf</string>
		</dict>
		<key>Configuration/Fonts/en_bold.ttf</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
				<string>Fonts</string>
			</array>
			<key>Path</key>
			<string>Configuration/Fonts/en_bold.ttf</string>
		</dict>
		<key>Configuration/Fonts/ar_regular.ttf</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
				<string>Fonts</string>
			</array>
			<key>Path</key>
			<string>Configuration/Fonts/ar_regular.ttf</string>
		</dict>
		<key>Configuration/Fonts/en_regular.ttf</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
				<string>Fonts</string>
			</array>
			<key>Path</key>
			<string>Fonts</string>
		</dict>
		<key>Configuration/GoogleServicePlist/GoogleService-Info.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
				<string>GoogleServicePlist</string>
			</array>
			<key>Path</key>
			<string>Configuration/GoogleServicePlist/GoogleService-Info.plist</string>
		</dict>
		<key>Configuration/GoogleServicePlist/GoogleService-Info-DEV.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
				<string>GoogleServicePlist</string>
			</array>
			<key>Path</key>
			<string>Configuration/GoogleServicePlist/GoogleService-Info-DEV.plist</string>
		</dict>
		<key>Configuration/GoogleServicePlist/GoogleService-Info-UAT.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
				<string>GoogleServicePlist</string>
			</array>
			<key>Path</key>
			<string>Configuration/GoogleServicePlist/GoogleService-Info-UAT.plist</string>
		</dict>
		<key>Configuration/GoogleServicePlist/GoogleService-Info-PVG.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Configuration</string>
				<string>GoogleServicePlist</string>
			</array>
			<key>Path</key>
			<string>Configuration/GoogleServicePlist/GoogleService-Info-PVG.plist</string>
		</dict>
		<key>Router/Router.swift</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Router</string>
			</array>
			<key>Path</key>
			<string>Router/Router.swift</string>
		</dict>
		<key>TestPlan/LocalizationPlan.xctestplan</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TestPlan</string>
			</array>
			<key>Path</key>
			<string>TestPlan/LocalizationPlan.xctestplan</string>
		</dict>
		<key>TestPlan/LocalizationPlan_Unit.xctestplan</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TestPlan</string>
			</array>
			<key>Path</key>
			<string>TestPlan/LocalizationPlan_Unit.xctestplan</string>
		</dict>
		<key>TestPlan/LocalizationPlan_UI.xctestplan</key>
		<dict>
			<key>Group</key>
			<array>
				<string>TestPlan</string>
			</array>
			<key>Path</key>
			<string>TestPlan/LocalizationPlan_UI.xctestplan</string>
		</dict>
		<key>../Podfile</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>Podfile</string>
		</dict>
		<key>../xccov-to-sonarqube-generic.sh</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>xccov-to-sonarqube-generic.sh</string>
		</dict>
		<key>../sonar-project.properties</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>sonar_validation.sh</string>
		</dict>
		<key>../sonar_validation.sh</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>sonar_validation.sh</string>
		</dict>
		<key>../ExportOptions.plist</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>ExportOptions.plist</string>
		</dict>
		<key>../.gitlab-ci.yml</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>.gitlab-ci.yml</string>
		</dict>
		<key>../.swiftlint.yml</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>.swiftlint.yml</string>
		</dict>
		<key>../.gitignore</key>
		<dict>
			<key>Group</key>
			<array>
				<string>Supporting Files</string>
			</array>
			<key>TargetIndices</key>
			<array/>
			<key>Path</key>
			<string>.gitignore</string>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/DEV.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>XCSchemes</string>
			</array>
			<key>Path</key>
			<string>XCSchemes/DEV.xcscheme</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/PROD.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>XCSchemes</string>
			</array>
			<key>Path</key>
			<string>XCSchemes/PROD.xcscheme</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/UAT.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>XCSchemes</string>
			</array>
			<key>Path</key>
			<string>XCSchemes/UAT.xcscheme</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/PVG.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>XCSchemes</string>
			</array>
			<key>Path</key>
			<string>XCSchemes/PVG.xcscheme</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/MOCK.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>XCSchemes</string>
			</array>
			<key>Path</key>
			<string>XCSchemes/MOCK.xcscheme</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>../___PACKAGENAME___.xcodeproj/xcshareddata/xcschemes/Sonar.xcscheme</key>
		<dict>
			<key>Group</key>
			<array>
				<string>XCSchemes</string>
			</array>
			<key>Path</key>
			<string>XCSchemes/Sonar.xcscheme</string>
			<key>TargetIndices</key>
			<array/>
		</dict>
		<key>Info.plist:UIAppFonts</key>
		<dict>
			<key>Beginning</key>
			<string>&lt;key&gt;UIAppFonts&lt;/key&gt;
&lt;array&gt;</string>
			<key>End</key>
			<string>&lt;/array&gt;</string>
			<key>Indent</key>
			<integer>1</integer>
		</dict>
		<key>Info.plist:UIAppFonts:EnReg</key>
		<string>&lt;string&gt;en_regular.ttf&lt;/string&gt;</string>
		<key>Info.plist:UIAppFonts:EnBold</key>
		<string>&lt;string&gt;en_bold.ttf&lt;/string&gt;</string>
		<key>Info.plist:UIAppFonts:ArRegular</key>
		<string>&lt;string&gt;ar_regular.ttf&lt;/string&gt;</string>
		<key>Info.plist:UIAppFonts:ArBold</key>
		<string>&lt;string&gt;ar_bold.ttf&lt;/string&gt;</string>
	</dict>
	<key>Project</key>
	<dict>
		<key>Configurations</key>
		<dict>
			<key>DEV</key>
			<dict>
				<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
				<string>DEV</string>
			</dict>
			<key>MOCK</key>
			<dict>
				<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
				<string>MOCK</string>
			</dict>
			<key>PVG</key>
			<dict>
				<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
				<string>PVG</string>
			</dict>
			<key>UAT</key>
			<dict>
				<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
				<string>UAT</string>
			</dict>
			<key>PROD</key>
			<dict>
				<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
				<string>PROD</string>
			</dict>
		</dict>
	</dict>
	<key>Targets</key>
	<array>
		<dict>
			<key>TargetIdentifier</key>
			<string>com.apple.dt.cocoaTouchApplicationTarget</string>
			<key>SharedSettings</key>
			<dict>
				<key>ASSETCATALOG_COMPILER_APPICON_NAME</key>
				<string>AppIcon</string>
				<key>LD_RUNPATH_SEARCH_PATHS</key>
				<string>$(inherited) @executable_path/Frameworks</string>
				<key>TARGETED_DEVICE_FAMILY</key>
				<string>1</string>
			</dict>
			<key>BuildPhases</key>
			<array>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string># Type a script or drag a script file from your workspace to insert its path.
${PODS_ROOT}/SwiftLint/swiftlint autocorrect
${PODS_ROOT}/SwiftLint/swiftlint lint --strict | sed &apos;s/warning:/error:/g&apos;</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ShellScript</string>
					<key>ShellPath</key>
					<string>/bin/sh</string>
					<key>ShellScript</key>
					<string>#### 
if [ &quot;${CONFIGURATION}&quot; = &quot;DEV&quot; ]
then
&quot;${PODS_ROOT}/FirebaseCrashlytics/upload-symbols&quot; -gsp &quot;${PROJECT_DIR}/___PROJECTNAME___/Configuration/GoogleServicePlist/GoogleService-Info-DEV.plist&quot; -p ios &quot;${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}&quot;
elif [ &quot;${CONFIGURATION}&quot; = &quot;PROD&quot; ]
then
&quot;${PODS_ROOT}/FirebaseCrashlytics/upload-symbols&quot; -gsp &quot;${PROJECT_DIR}/___PROJECTNAME___/Configuration/GoogleServicePlist/GoogleService-Info.plist&quot; -p ios &quot;${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}&quot;
echo &quot;PROD&quot;
elif [ &quot;${CONFIGURATION}&quot; = &quot;PVG&quot; ]
then
&quot;${PODS_ROOT}/FirebaseCrashlytics/upload-symbols&quot; -gsp &quot;${PROJECT_DIR}/___PROJECTNAME___/Configuration/GoogleServicePlist/GoogleService-Info-PVG.plist&quot; -p ios &quot;${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}&quot;
echo &quot;PVG&quot;
elif [ &quot;${CONFIGURATION}&quot; = &quot;UAT&quot; ]
then
&quot;${PODS_ROOT}/FirebaseCrashlytics/upload-symbols&quot; -gsp &quot;${PROJECT_DIR}/___PROJECTNAME___/Configuration/GoogleServicePlist/GoogleService-Info-UAT.plist&quot; -p ios &quot;${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}&quot;
elif [ &quot;${CONFIGURATION}&quot; = &quot;MOCK&quot; ]
then
&quot;${PODS_ROOT}/FirebaseCrashlytics/upload-symbols&quot; -gsp &quot;${PROJECT_DIR}/___PROJECTNAME___/Configuration/GoogleServicePlist/GoogleService-Info-UAT.plist&quot; -p ios &quot;${DWARF_DSYM_FOLDER_PATH}/${DWARF_DSYM_FILE_NAME}&quot;
fi

####
&quot;${PODS_ROOT}/FirebaseCrashlytics/run&quot;</string>
				</dict>
			</array>
			<key>Configurations</key>
			<dict>
				<key>DEV</key>
				<dict>
					<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
					<string>DEV</string>
					<key>PRODUCT_NAME</key>
					<string>___PROJECTNAME___ DEV</string>
					<key>PRODUCT_BUNDLE_IDENTIFIER</key>
					<string>___VARIABLE_bundleIdentifier___.DEV</string>
					<key>ENABLE_TESTABILITY</key>
					<string>YES</string>
				</dict>
				<key>MOCK</key>
				<dict>
					<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
					<string>MOCK</string>
					<key>PRODUCT_NAME</key>
					<string>___PROJECTNAME___ MOCK</string>
					<key>PRODUCT_BUNDLE_IDENTIFIER</key>
					<string>___VARIABLE_bundleIdentifier___.MOCK</string>
					<key>ENABLE_TESTABILITY</key>
					<string>YES</string>
				</dict>
				<key>PVG</key>
				<dict>
					<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
					<string>PVG</string>
					<key>PRODUCT_NAME</key>
					<string>___PROJECTNAME___ PVG</string>
					<key>PRODUCT_BUNDLE_IDENTIFIER</key>
					<string>___VARIABLE_bundleIdentifier___.PVG</string>
					<key>ENABLE_TESTABILITY</key>
					<string>YES</string>
				</dict>
				<key>UAT</key>
				<dict>
					<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
					<string>UAT</string>
					<key>PRODUCT_NAME</key>
					<string>___PROJECTNAME___ UAT</string>
					<key>PRODUCT_BUNDLE_IDENTIFIER</key>
					<string>___VARIABLE_bundleIdentifier___.UAT</string>
					<key>ENABLE_TESTABILITY</key>
					<string>YES</string>
				</dict>
				<key>PROD</key>
				<dict>
					<key>SWIFT_ACTIVE_COMPILATION_CONDITIONS</key>
					<string>PROD</string>
					<key>PRODUCT_NAME</key>
					<string>___PROJECTNAME___</string>
					<key>PRODUCT_BUNDLE_IDENTIFIER</key>
					<string>___VARIABLE_bundleIdentifier___</string>
					<key>ENABLE_TESTABILITY</key>
					<string>YES</string>
				</dict>
			</dict>
		</dict>
	</array>
</dict>
</plist>
